In [3]:
"""
price = m1 * Area + m2 * bedrooms + m3 * age + b
where
    price = dependent variable or "Y"
    Area, bedrooms and age are independent variables or "Features" or X1, X2, X3
    
    m1,m2,m3 are called "Coefficients"
    b is called as "Intercept"
    
OR

    y = m1x1 + m2x2 + m3x3
"""

'\nprice = m1 * Area + m2 * bedrooms + m3 * age + b\nwhere\n    price = dependent variable or "Y"\n    Area, bedrooms and age are independent variables or "Features" or X1, X2, X3\n    \n    m1,m2,m3 are called "Coefficients"\n    b is called as "Intercept"\n    \nOR\n\n    y = m1x1 + m2x2 + m3x3\n'

In [4]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [5]:
df = pd.read_csv(r'C:\Users\pulkit.goel\Desktop\MonroeTownshipRates.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [9]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [10]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
print(df)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [11]:
reg = linear_model.LinearRegression()

In [12]:
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [13]:
print(reg.coef_)

array([   137.25, -26025.  ,  -6825.  ])

In [14]:
print(reg.intercept_)

383724.9999999998

In [16]:
# Predict the price for a sample flat with area=3000, bedrooms = 3 and age = 40
print(reg.predict([[3000,3,40]]))

[444400.]